body{
    background-color:grey;
}
@media(max-height:800px){
    .d1{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
        font-size: 90px;
        color:white;
        top:50px;
        left:550px;
        position: absolute;
    }
    .form1{
        position: absolute;
        top:250px;
        left:400px;
        width:550px;
        height:15px;
        border-radius:25px ;
        border:2px solid #D3D8E8;
        padding: 20px;
        font-size:18px;
        border-width: 1px;
        
    
    }
    .f1{
        position: absolute;
        left: 50px;
        border-radius: 25px;
        border: 2px solid #609;
        padding: 20px; 
        width: 400px;
        height: 15px; 
    }
    .b1{
        position: absolute;
        top:300px;
        left: 550px;
        padding: 20px;
        border-radius:11px 0px 0px 0px;
    
    }
    
}
